In [2]:
import pandas as pd
student1=pd.Series({'국어':100,'영어':80,'수학':90})
percentage=student1/200
print(percentage)

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [5]:
student1=pd.Series({'국어':100,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90,'영어':80}) #인덱스 순서가 다르더라도 같은 인덱스를 찾아 정렬한 후 연산
addiction=student1 + student2
substraction=student1-student2
multiplication=student1*student2
division=student1/student2
result=pd.DataFrame([addiction,substraction,multiplication,division],index=['+','-','*','/'])
print(result)

            국어        수학      영어
+   190.000000   170.000   160.0
-    10.000000    10.000     0.0
*  9000.000000  7200.000  6400.0
/     1.111111     1.125     1.0

In [7]:
import pandas as pd
import numpy as np
student1=pd.Series({'국어':np.nan,'영어':80,'수학':90}) #국어에 NA 포함
student2=pd.Series({'수학':80,'국어':90}) #영어 점수가 없음
addiction=student1 + student2
substraction=student1-student2
multiplication=student1*student2
division=student1/student2
result=pd.DataFrame([addiction,substraction,multiplication,division],index=['+','-','*','/'])
print(result)

   국어        수학  영어
+ NaN   170.000 NaN
- NaN    10.000 NaN
* NaN  7200.000 NaN
/ NaN     1.125 NaN

In [10]:
import pandas as pd
import numpy as np
student1=pd.Series({'국어':np.nan,'영어':80,'수학':90})
student2=pd.Series({'수학':80,'국어':90})
sr_add=student1.add(student2,fill_value=0) #NaN을 0으로 채움
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)
result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],index=['+','-','*','/'])
print(result)

     국어        수학    영어
+  90.0   170.000  80.0
- -90.0    10.000  80.0
*   0.0  7200.000   0.0
/   0.0     1.125   inf

In [4]:
import pandas as pd
import seaborn as sns
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]
print(df.head())
addition=df+10 #모든 원소에 10을 더함.
print(addition.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500
    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

In [3]:
import pandas as pd
import seaborn as sns
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]
print(df.tail())
addition=df+10
subtraction=addition-df
print(addition.tail())
print(subtraction.tail())

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0