# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [15]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

In [2]:
# colab에 파일 업로드​

from google.colab import files  
uploaded = files.upload()

Saving wine.data to wine.data

### Step 3. Assign it to a variable called wine

In [71]:
wine=pd.read_csv('wine.data')
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [72]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]],axis=1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [73]:
wine.columns=['alcohol','malic_acid','alcalinity_of_ash','magnesium','flavanoids','proanthocyanins','hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,1.05
1,13.16,2.36,18.6,101,3.24,2.81,1.03
2,14.37,1.95,16.8,113,3.49,2.18,0.86
3,13.24,2.59,21.0,118,2.69,1.82,1.04
4,14.20,1.76,15.2,112,3.39,1.97,1.05

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [74]:
wine.iloc[:3,0]=np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [75]:
wine.iloc[[2,3],3]=np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [76]:
wine['alcohol'].fillna(10,inplace=True)
wine['magnesium'].fillna(100,inplace=True)

### Step 9. Count the number of missing values

In [77]:
wine.isna().sum().sum()

0

### Step 10.  Create an array of 10 random numbers up until 10

In [78]:
array=np.random.randint(0,11,10)
array

array([10, 10,  1,  2,  6,  6, 10, 10,  2,  6])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [79]:
wine.iloc[array,:]=np.nan
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05

### Step 12.  How many missing values do we have?

In [80]:
wine.isna().sum().sum()

28

### Step 13. Delete the rows that contain missing values

In [81]:
wine.dropna(inplace=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
3,13.24,2.59,21.0,100.0,2.69,1.82,1.04
4,14.20,1.76,15.2,112.0,3.39,1.97,1.05
5,14.39,1.87,14.6,96.0,2.52,1.98,1.02
7,14.83,1.64,14.0,97.0,2.98,1.98,1.08

### Step 14. Print only the non-null values in alcohol

In [82]:
wine.alcohol[wine.alcohol.notna()]

0      10.00
3      13.24
4      14.20
5      14.39
7      14.83
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 173, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [83]:
wine.reset_index(inplace=True,drop=True)
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,13.24,2.59,21.0,100.0,2.69,1.82,1.04
2,14.20,1.76,15.2,112.0,3.39,1.97,1.05
3,14.39,1.87,14.6,96.0,2.52,1.98,1.02
4,14.83,1.64,14.0,97.0,2.98,1.98,1.08

### BONUS: Create your own question and answer it.

In [86]:
# alcohol이 12보다 크고 magnesium이 100이하인 행들만 추출
wine[(wine.alcohol>12)&(wine.magnesium<=100)]

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
1,13.24,2.59,21.0,100.0,2.69,1.82,1.04
3,14.39,1.87,14.6,96.0,2.52,1.98,1.02
4,14.83,1.64,14.0,97.0,2.98,1.98,1.08
5,13.86,1.35,16.0,98.0,3.15,1.85,1.01
7,13.75,1.73,16.0,89.0,2.76,1.81,1.15
...,...,...,...,...,...,...,...
165,12.20,3.03,19.0,96.0,0.49,0.73,0.66
166,12.77,2.39,19.5,86.0,0.51,0.64,0.57
167,14.16,2.51,20.0,91.0,0.70,1.24,0.62
168,13.71,5.65,20.5,95.0,0.61,1.06,0.64
172,14.13,4.10,24.5,96.0,0.76,1.35,0.61